/* Controllo che abbia collegato style.css a index.html*/
body{
    margin: 0;
}
/* creo un contenitore per dare inscatolare il tutto*/
.conteiner{
    max-width: 1080px;
    margin: 0 auto;
}

/*creo il logo*/
header{
    height: 130px;
    background-color: cornflowerblue;
    background-image: url('../img/pattern.png');    
    background-size: 45%;
    background-attachment: scroll;
}
#logo{
    width: 25%;
    margin-left: 0;    
}
/*Inizio il main*/
/*Creo il titolo più foto e descrizioni delle foto*/
h1{
    margin-bottom: 0;
    font-size: 2.5rem;
}
figure{
    margin-left: 0;
    margin-bottom: 0;
}
.author{
    color: gray;
    font-size: larger;
}
a{
    text-decoration: none;
}
span{
    font-size: smaller;
}
.description{
    font-size: smaller;
}
/*creo l'evidenziatura*/
.evidenziato{
    background-color: yellow;
    font-size: medium;
}
/*creo la lista*/
ul{
    padding-left: 12px;
}
/*creo la tabella*/
table{
    border-collapse: collapse;
}
#speciale{
    width: 50%;

}
th{
    width: 25%;
    text-align: left;
    background-color: blue;
    color: white;
}
tr:nth-child(odd){background-color:lightblue}