/*Reset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* creo un contenitore per dare inscatolare il tutto*/
/*utilities*/
.conteiner{
    max-width: 1080px;
    margin: 0 auto;
}
.text-gray{
    color: gray;
}
.text-small{
    font-size: small;
}
p{
    margin: 15px 0;
}
.width50{
    width: 50%;

}
/*creo il logo - header*/
#main-header{
    height: 100px;
    background-color: cornflowerblue;
    background-image: url('../img/pattern.png');   
    background-size: 30%;
    line-height: 100px;
}
#logo{
    height: 50px;
    width: auto;
    vertical-align: middle;    
}
/*Inizio il main*/
/*Creo il titolo più foto e descrizioni delle foto*/
h1{
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 38px;
}
address{
    font-style: normal;
}

a{
    text-decoration: none;
}

.article-picture{
    margin: 20px 0;
}
/*creo la lista*/
ul{
    list-style-position: inside;
    padding-inline-start: 0;
    margin: 15px 0;
}
/*creo la tabella*/
table{
    border-collapse: collapse;
}
th{
    text-align: left;
    background-color: blue;
    color: white;
}
tr:nth-child(odd){background-color:lightblue}

/*aside, parte finale*/
.related-article{
    width: 200px;
    height: 150px;    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 0;
    padding: 10px;
}
#monitor{
    background-image: url('../img/monitor.jpg');
}
#graph{
    background-image: url('../img/graph.jpg');
}
.related-article-title{
    color: white;
    font-size: 1.2rem;
}